{% extends 'layouts/skeleton.jinja2' %}
{% from 'blog/macros.jinja2' import post_preview %}

{% set title = "Dashboard" %}
{% block meta_description %}{% endblock %}

{% block body %}
    <h1>Dashboard</h1>

    <h2>Hello, world!</h2>
{% endblock %}
